html {
  color: #535353;
}

body {
  line-height: 1.5;
  background-color: #F5F5F5;
}


.ps-navbar a {
  font-size: 18px;
  margin: 0 20px;
}

.ps-navbar {
  background-color: #fff;
  padding: 20px 0;
  border: none;
}

.ps-main-title {
  text-align: center;
  padding: 60px;
}

.ps-maintitle {
  font-size: 65px;
}

.ps-sub-title {
  text-align: center;
  padding: 30px;
  font-size: 18px;
}

.ps-sub-title p {
  margin: 0;
}

.ps-subtitle {
  font-size: 25px;
}


.header {
  margin-bottom: 60px;
}

.ps-space {
  margin: 50px;
  border: 1px solid black;
  border-radius: 2px;
  padding: 25px;
  background-color: #fff;
}

.wrapper-h2 {
  margin: 20px auto 35px;
  text-align: center;
}

.ps-space h2 {
  text-align: center;
  border-bottom: 1px solid #555;
  padding: 8px 0;
  width: 100%;
}

.button {
  padding: 7px;
  font-size: 1.2em;
  border: 1px solid #F5F5F5;
}

.wrapper-button {
  text-align: center;
}

.wrapper-button p {
  display: block;
  margin: 30px;
}

.wrapper-p {
  width: 60%;
  margin: auto;
}


footer {
  width: 100%;
  margin-top: 60px;
  background-color: #999;
  padding: 40px;
  font-size: 15px;
  color: black;
  border-top: 1px solid gray;
}

footer a {
  color: black;
  text-decoration: underline;
}

footer a:hover {
  color: inherit;
}

footer ul {
  list-style-type: none;
}

footer ul li {
  margin: 5px 0;
}
