{% extends "base.html" %}
{% load static %}

{% block extra_header %}<link rel="stylesheet" href="{% static "css/candidate.css" %}">{% endblock %}

{% block section %}
<div class="container header">
  <div class="ps-main-title">
    {% block title-page %}<h1 class="ps-maintitle">Espace candidat</h1>{% endblock %}
  </div>
</div>
{% block candidate_content %}
{% endblock %}
<div class="container">
  <div class="ps-space">

    <div class="wrapper-p">
      <p>Commence dès maintenant à remplir ton profil et <strong>booster</strong> tes opportunités d'embauche.</p>
    </div>

    <div class="wrapper-button">
      <p><a class="button" href="{% url "candidate:fill" %}">Je remplis mon profil</a></p>
      <p><a class="button" href="{% url "candidate:howto" %}">Comment se faire un profil pertinent ?</a></p>
    </div>

  </div>
</div>
{% endblock section %}
