{% extends "candidate/candidate.html" %}

{% block title %}Scilicet - Remplis ton profil !{% endblock %}

{% block title-page %}<h2 class="ps-title-page">Profil</h2>{% endblock %}

{% block candidate_content %}
<div class="container">
  <div class="ps-space form-wrapper">
    <div class="wrapper-button">
      <p><a class="button" href="{% url "candidate:add-item" %}">Ajouter une section</a></p>
    </div>

    <p>{{ request.user.get_full_name }}, c'est ici que tu remplis ton profil.</p>
    <div id="form-wrapper">
    <form method="post" action="{% url "candidate:fill" %}">
  		{% csrf_token %}
  		{{ form.as_p }}
  		<input type="submit" value="Enregistrer les modifications" />
  	</form>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    </div>
    <div>
      <p><a href="{% url "candidate:fill-user" %}">Modifier mon identité</a></p>
    </div>
  </div>
</div>
{% endblock %}
