{% extends "base.html" %}
{% load static %}

{% block title %}Scilicet - profil de {{ request.user.first_name }} - édition{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static "css/candidate.css" %}">{% endblock %}

{% block section %}
<article>
  <div class="wrapper-h2">
    <h2 id="h2-candidate">Espace candidat</h2>
  </div>


  <div id="content">
    <p>{{ request.user.get_full_name }}, c'est ici que tu remplis ton profil.</p>
    <div id="form-wrapper">
    <form method="post" action="{% url "candidate:fill" %}">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" value="Enregistrer les modifications" />
		</form>
    {% if error %}
    <p class="error">{{ error }}</p>
    {% endif %}
    </div>
  </div>


  <div class="wrapper-p">
    <p>Commence dès maintenant à remplir ton profil et <strong class="no-bold">booster</strong> tes oportunités d'embauche.</p>
  </div>

  <div class="wrapper-button">
    <p><a class="button" href="">Je remplis mon profil</a></p>
    <p><a class="button" href="">Comment se faire un profil pertinent ?</a></p>
  </div>
</article>
{% endblock section %}
