{% extends "candidate/candidate.html" %}

{% block title %}Scilicet - {{ request.user.get_full_name }}{% endblock %}

{% block title-page %}<h2 class="ps-title-page">{{ request.user.first_name }}</h2>{% endblock %}

{% block candidate_content %}
<div class="container">
  <div class="ps-space">
    <p>Heureux de te voir <strong>{{ request.user.first_name }}</strong> !</p>
    <div class="wrapper-button">
      <p><a class="button" href="{% url "candidate:profile" %}">Voir mon profil</a></p>
      <p><a href="{% url "candidate:fill" %}">Remplir mon profil</a></p>
      <p><a href="{% url "candidate:howto" %}">Comment se faire un profil pertinent ?</a></p>
    </div>
  </div>
</div>
{% endblock %}
