{% extends "candidate/candidate.html" %}

{% block title %}Scilicet - Profil pertinent{% endblock %}

{% block candidate_content %}
<div id="content">

  <div class="wrapper-h2">
    <h2>Espace candidat</h2>
  </div>

  <div id="content">
    <h3>Comment ce faire un profil pertinent ?</h3>
    <p>Ce profil doit servir d'annexe au CV. Il doit donc reprendre chaque élément du CV et les décrire en détail.</p>
    <p>Le but est aussi de les relier entre eux.</p>
    <p><em>Une compétence est développée par plusieurs expériences,<br>une expérience développe plusieurs compétences.</em></p>
  </div>

</div>
{% endblock %}
