{% extends "candidate/candidate.html" %}

{% block title %}Scilicet - connexion{% endblock %}

{% block candidate_content %}
<div id="content">
  <div id="form-wrapper">
  <form method="post" action="{% url "candidate:login" %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Se connecter"></input>
  </form>
  {% if error %}
  <p class="error">{{ error }}</p>
  {% endif %}
  </div>
  <p>Pas encore inscrit ? <a href="{% url "candidate:signin" %}">S'inscrire</a></p>
</div>
{% endblock %}
