{% extends "candidate/candidate.html" %}
{% load static %}

{% block title %}Scilicet - Parcourir{% endblock %}

{% block title-page %}<h2 class="ps-title-page">Parcourir</h2>{% endblock %}

{% block candidate_content %}
<div class="container">
  <div class="ps-space profile">

    <ul class="profile-list">

      {% for profile in object_list %}
      <li class="profile-item">
        <a href="{% url "profile" profile.id %}">
          <h3>{{ profile.user.get_full_name }}</h3>
        </a>
        <p>{{ profile.bio }}</p>
      </li>
      {% empty %}
      <li>Pas de profil à afficher pour le moment.</li>
      {% endfor %}

    </ul>

  </div>
</div>
{% endblock %}
