{% extends "candidate/candidate.html" %}

{% block title %}Scilicet - {{ request.user.get_full_name }}{% endblock %}

{% block title-page %}
<h2 class="ps-title-page">{{ user.get_full_name }}</h2>
<div class="bio">
  <p>{{ user.profile.bio }}</p>
</div>
{% endblock %}

{% block candidate_content %}
<div class="container">
  <div class="ps-space profile">
    <div class="row">
      <div class="col-md-12">
        {% for item in request.user.profile.items.all %}
        <div class="item">
          <h1 id="{{ item.title }}">{{ item.title }}</h1>

          {% if item.subtitle %}
            <h2>{{ item.subtitle }}</h2>
          {% endif %}
          {% if item.description %}
            <p>{{ item.description }}</p>
          {% endif %}

          {% if item.category %}
            <p><span class="category">{{ item.category }}</span></p>
          {% endif %}

          <!-- <div>
          {% for item_nd in request.user.profile.items.all %}
            {% if item.category == item_nd.category and item != item_nd %}
              <p><a href="#{{ item_nd.title }}">{{ item_nd.title }}</a></p>
            {% endif %}
          {% endfor %}
          </div> -->
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>


{% endblock %}
