{% extends "base.html" %}
{% load static %}

{% block title %}Scilicet - à propos{% endblock %}

{% block section %}
<div class="container header">
  <div class="ps-main-title">
    <h1 class="ps-maintitle">À propos de Scilicet</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <p>Scilicet est une application web qui a pour but d'aider les jeunes à trouver un stage ou un emploi.</p>
      <p>Elle entre dans le cadre du concours Coddity.</p>
      <p>Trouvez plus d'informations sur ce blog : <a href="https://onp4.com/@Thykof/~bourse-coddity">onP4</a>.</p>
      <p>Le code source est accessible sur <a href="https://github.com/Thykof/Scilicet">Github</a>.</p>
      <p>Contacter le webmaster : <a href="mailto:nathan.seva@outlook.fr">nathan.seva@outlook.fr</a>.</p>
      <p>La version acutelle est <em>v1.0.0</em>.<p>
    </div>

  </div>
</div>
{% endblock section %}
