{% extends "base.html" %}
{% load static %}

{% block title %}Scilicet - profil pertinent{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock %}

{% block section %}
<article>
  <div class="wrapper-h2">
    <h2>Espace candidat</h2>
  </div>

  <div id="content">
    <h3>Comment ce faire un profil pertinent ?</h3>
    <p>Ce profil doit servir d'annexe du CV. Il doit donc reprendre chaque élément du CV et les décrir en détail.</p>
    <p>Le but est aussi de les relier entre eux.</p>
    <p><em>Une compétence est développée par plusieurs expériences,<br>une expérience developpe plusieurs compétences.</em></p>
  </div>

</article>
{% endblock section %}
