{% extends "base.html" %}
{% load static %}

<!-- {% block title %}{% endblock %} -->
{% block stylesheet %}<link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock %}

{% block section %}
<article>
  <div class="wrapper-h2">
    <h2>Espace candidat</h2>
  </div>

  <div class="wrapper-p">
    <p>Commence dès maintenant à remplir ton profil et <strong class="no-bold">booster</strong> tes oportunités d'embauche.</p>
  </div>

  <div class="wrapper-button">
    <p><a class="button" href="{% url "candidate:signin" %}">Je remplis mon profil</a></p>
    <p><a class="button" href="{% url "howto" %}">Comment se faire un profil pertinent ?</a></p>
  </div>
</article>
<article>
  <div class="wrapper-h2">
    <h2>Espace recruteur</h2>
  </div>
  <div class="wrapper-button">
    <a class="button" href="{% url "candidate:profile-list" %}">Parcourir les profils</a>
  </div>
</article>
{% endblock section %}
