.item {
  padding: 15px;
  border: 2px solid #88F;
  margin: 15px;
  border-radius: 5px;
}

.category {
  padding: 4px;
  border-radius: 2px;
  border: 1px solid #F88;
}

.profile h1 {
  font-size: 30px;
  margin-bottom: 15px;
}
.profile h2 {
  font-size: 20px;
  text-align: left;
  margin-left: 5%;
  border: none;
}

.profile-list li {
  list-style-type: none;
}

.profile-list a {
  text-decoration: none;
}

.profile-list p { /* bio */
  margin-left: 12px;
}
