{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
  <title>{% block title %}Scilicet{% endblock %}</title>
  <link rel="stylesheet" href="{% static "css/reset.css" %}">
  <link rel="stylesheet" href="{% static "css/base.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/style.css" %}">
  {% block stylesheet %}{% endblock %}
  <meta charset="UTF-8">
  <meta name="description" content="Raconte tes expériences et relie-les à des compétence">
  <meta name="author" content="Nathan Seva">
  <meta name="keywords" content="CV, job, candidat, expérience, compétence, profil">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>


<header>
  <nav id="header-bar">
    <div>
      <a href="{% url "home" %}">Scilicet</a>
      <a href="{% url "candidate:candidate" %}">Candidats</a>
      <!-- <a href="#">Recruteurs</a> -->
    </div>
    <div>
      {% if request.user.is_authenticated %}
      <a href="{% url "candidate:home" %}">Profil</a>
      <a href="{% url "candidate:logout" %}">Déconnexion</a>
      {% else %}
      <a href="{% url "candidate:login" %}">Connexion</a>
      <a href="{% url "candidate:signin" %}">Inscription</a>
      {% endif %}
    </div>
  </nav>
  <h1 id="title">Scilicet</h1>
  <p id="subtitle">Raconte tes <strong id="achievement-word">expériences</strong> pour mettre en valeur tes <strong>compétences</strong>.<p>
</header>

<section id="main-section">
  {% block section %}
  {% endblock section %}
</section>

<footer>
  <div>
    <a href="{% url "home" %}">Scilicet</a>
    <p>Raconte tes expériences et relie-les à des compétences</p>
  </div>

  <div>
    <ul>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Linkedin</a></li>
    </ul>
  </div>

  <div>
    <p><a href="https://github.com/Thykof/Scilicet">Github</a></p>
    <p><a href="https://onp4.com/@Thykof/~bourse-coddity">À propos</a></p>
    <p>Info webmaster : Nathan Seva <a href="mailto:nathan.seva@outlook.fr">nathan.seva@outlook.fr</a></p>
  </div>
</footer>


</body>
</html>
